    
    /* Home */
.carousel-inner{
    margin: 0%;
    position: fixed;
}

.colon_market {
    margin: 40px;
    width: 400px;
    height: 300px;
}
.carbon_market {
    margin: 40px;
    width: 400px;
    height: 300px;
}
.night_market_container {
    text-align: center;
    margin: 50px;
}
.night_market_link {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.night_market_link img {
    height: 200px;
}

                /* COLON */
.title1{
    font-size: 200%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    margin-top: 1.5%;
    background-color: whitesmoke;
    margin-right: 68%;
    margin-left: 25px;
    
}

.glass{
    width: 30%;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
}

    .glass img{
        height: 350px;
        border-radius: 25px;

    }

            /* CARBON */


    .container2 .title2{
        margin-top: 5%;
        margin-right: 100%;
    }
/* .container2.glass{
    width: 30%;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    padding: 25px;
}

    .container2 .glass img{
        height: 350px;
        border-radius: 25px;
    } */

.description {
    margin: 20px;
    margin-left: 40px;
    margin-right: 40px;
}
/*-------ABOUT--------*/
.about h1 {
    text-align: center;
}
.about .card {
    margin: 40px;
}
.about .profiles {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}








